{:message "Draft litter"
 :recommendations []
 :name "annotations"
 :kind "case"
 :explanation "Typical markers used to signal problem sites in the text."
 :specimens ["FIXME" "FIX ME" "TODO" "ERASE THIS" "FIX THIS"]}
