{:message "Draft litter"
 :recommendations []
 :name "annotations"
 :kind "case"
 :explanation "Typical markers used to signal problem sites in the text. These annotations should not survive editing."
 :specimens ["FIXME" "FIX ME" "TODO" "ERASE THIS" "FIX THIS"]}
