{:message "Modernize"
 :recommendations []
 :name "archaisms"
 :kind "existence"
 :explanation "Outmoded word or phrase."
 :specimens
 ["alack"
  "anent"
  "anon"
  "begat"
  "belike"
  "betimes"
  "boughten"
  "brocage"
  "brokage"
  "camarade"
  "chiefer"
  "chiefest"
  "Christiana"
  "completely obsolescent"
  "cozen"
  "divers"
  "deflexion"
  "durst"
  "fain"
  "forsooth"
  "foreclose from"
  "haply"
  "howbeit"
  "illumine"
  "in sooth"
  "maugre"
  "meseems"
  "methinks"
  "nigh"
  "peradventure"
  "perchance"
  "saith"
  "shew"
  "sistren"
  "spake"
  "to wit"
  "verily"
  "whilom"
  "withal"
  "wot"
  "enclosed please find"
  "please find enclosed"
  "enclosed herewith"
  "enclosed herein"
  "inforce"
  "ex postfacto"
  "foreclose from"
  "forewent"
  "for ever"]}
