{:message "Avoid corporate-speak"
 :name "corporate-speak"
 :kind "existence"
 :explanation "Words and phrases that make you sound like an automaton."
 :specimens ["at the end of the day"
             "back to the drawing board"
             "hit the ground running"
             "get the ball rolling"
             "low-hanging fruit"
             "thrown under the bus"
             "think outside the box"
             "let's touch base"
             "get my manager's blessing"
             "it's on my radar"
             "ping me"
             "i don't have the bandwidth"
             "no brainer"
             "par for the course"
             "bang for your buck"
             "synergy"
             "move the goal post"
             "apples to apples"
             "win-win"
             "circle back around"
             "all hands on deck"
             "take this offline"
             "drill-down"
             "elephant in the room"
             "on my plate"
             "blue-sky thinking"
             "boil the ocean"
             "circle the wagons"
             "deep dive"
             "drink the Kool-Aid"
             "herding cats"
             "ideation"
             "make it actionable"
             "mission-critical"
             "paradigm shift"
             "peel the onion"
             "right-size"
             "run it up the flagpole"
             "skin in the game"
             "solutioning"
             "thought leader"
             "touchpoint"
             "value-add"
             "wheelhouse"]}
