{:message "Jargon"
 :name "jargon"
 :kind "existence"
 :explanation "Phrases infected with bureaucracy."
 :specimens ["in the affirmative"
             "in the negative"
             "agendize"
             "per your order"
             "per your request"
             "disincentivize"
             "at this point in time"
             "due to the fact that"
             "in the event that"
             "it is imperative that"
             "subsequent to"
             "with regard to"]}
