{:message "Needless variant"
 :name "needless-variant"
 :kind "recommender"
 :explanation "Prefer the more common term."
 :specimens []
 :recommendations
 [{:avoid "abolishment", :prefer "abolition"}
  {:avoid "accessary", :prefer "accessory"}
  {:avoid "accessary", :prefer "accessory"}
  {:avoid "accreditate", :prefer "accredit"}
  {:avoid "accruement", :prefer "accrual"}
  {:avoid "cumulate", :prefer "accumulate"}
  {:avoid "accusee", :prefer "accused"}
  {:avoid "acquaintanceship", :prefer "acquaintance"}
  {:avoid "acquitment", :prefer "acquittal"}
  {:avoid "administrate", :prefer "administer"}
  {:avoid "administrated", :prefer "administered"}
  {:avoid "administrating", :prefer "administering"}
  {:avoid "adulterate", :prefer "adulterous"}
  {:avoid "advisatory", :prefer "advisory"}
  {:avoid "advocator", :prefer "advocate"}
  {:avoid "allegator", :prefer "alleger"}
  {:avoid "allusory", :prefer "allusive"}
  {:avoid "meliorate", :prefer "ameliorate"}
  {:avoid "amative", :prefer "amorous"}
  {:avoid "amortizement", :prefer "amortization"}
  {:avoid "amphiboly", :prefer "amphibology"}
  {:avoid "parachronism", :prefer "anachronism"}
  {:avoid "anecdotalist", :prefer "anecdotist"}
  {:avoid "anilinctus", :prefer "anilingus"}
  {:avoid "anticipative", :prefer "anticipatory"}
  {:avoid "antithetic", :prefer "antithetical"}
  {:avoid "applicative", :prefer "applicable"}
  {:avoid "applicatory", :prefer "applicable"}
  {:avoid "applier", :prefer "applicator"}
  {:avoid "approbative", :prefer "approbatory"}
  {:avoid "arbitrager", :prefer "arbitrageur"}
  {:avoid "arsenous", :prefer "arsenious"}
  {:avoid "ascendance", :prefer "ascendancy"}
  {:avoid "ascendence", :prefer "ascendancy"}
  {:avoid "ascendency", :prefer "ascendancy"}
  {:avoid "auctorial", :prefer "authorial"}
  {:avoid "averral", :prefer "averment"}
  {:avoid "barbwire", :prefer "barbed wire"}
  {:avoid "benefic", :prefer "beneficent"}
  {:avoid "benignant", :prefer "benign"}
  {:avoid "bestowment", :prefer "bestowal"}
  {:avoid "betrothment", :prefer "betrothal"}
  {:avoid "blamableness", :prefer "blameworthiness"}
  {:avoid "butt naked", :prefer "buck naked"}
  {:avoid "capturer", :prefer "captor"}
  {:avoid "carta blanca", :prefer "carte blanche"}
  {:avoid "casualities", :prefer "casualties"}
  {:avoid "casuality", :prefer "casualty"}
  {:avoid "catch on fire", :prefer "catch fire"}
  {:avoid "catholicly", :prefer "catholically"}
  {:avoid "cease fire", :prefer "ceasefire"}
  {:avoid "cell phone", :prefer "cellphone"}
  {:avoid "cell-phone", :prefer "cellphone"}
  {:avoid "channelize", :prefer "channel"}
  {:avoid "chaplainship", :prefer "chaplaincy"}
  {:avoid "chrysalid", :prefer "chrysalis"}
  {:avoid "chrysalids", :prefer "chrysalises"}
  {:avoid "cigaret", :prefer "cigarette"}
  {:avoid "cliquey", :prefer "cliquish"}
  {:avoid "cliquy", :prefer "cliquish"}
  {:avoid "cognitional", :prefer "cognitive"}
  {:avoid "cohabitate", :prefer "cohabit"}
  {:avoid "cohabitor", :prefer "cohabitant"}
  {:avoid "collodium", :prefer "collodion"}
  {:avoid "collusory", :prefer "collusive"}
  {:avoid "commemoratory", :prefer "commemorative"}
  {:avoid "commonty", :prefer "commonage"}
  {:avoid "communicatory", :prefer "communicative"}
  {:avoid "compensative", :prefer "compensatory"}
  {:avoid "complacence", :prefer "complacency"}
  {:avoid "complicitous", :prefer "complicit"}
  {:avoid "computate", :prefer "compute"}
  {:avoid "camarade", :prefer "comrade"}
  {:avoid "conciliative", :prefer "conciliatory"}
  {:avoid "concomitancy", :prefer "concomitance"}
  {:avoid "condonance", :prefer "condonation"}
  {:avoid "confirmative", :prefer "confirmatory"}
  {:avoid "congruency", :prefer "congruence"}
  {:avoid "connotate", :prefer "connote"}
  {:avoid "consanguineal", :prefer "consanguine"}
  {:avoid "conspicuity", :prefer "conspicuousness"}
  {:avoid "conspiratorialist", :prefer "conspirator"}
  {:avoid "constitutionist", :prefer "constitutionalist"}
  {:avoid "cotemporaneous", :prefer "contemporaneous"}
  {:avoid "cotemporary", :prefer "contemporary"}
  {:avoid "contingence", :prefer "contigency"}
  {:avoid "contributary", :prefer "contributory"}
  {:avoid "contumacity", :prefer "contumacy"}
  {:avoid "conversible", :prefer "convertible"}
  {:avoid "conveyal", :prefer "conveyance"}
  {:avoid "corroboratory", :prefer "corroborative"}
  {:avoid "coemployee", :prefer "coworker"}
  {:avoid "curatory", :prefer "curative"}
  {:avoid "daredeviltry", :prefer "daredevilry"}
  {:avoid "deceptious", :prefer "deceptive"}
  {:avoid "defamative", :prefer "defamatory"}
  {:avoid "degeneratory", :prefer "degenerative"}
  {:avoid "delimitate", :prefer "delimit"}
  {:avoid "delusory", :prefer "delusive"}
  {:avoid "denouncement", :prefer "denunciation"}
  {:avoid "depositee", :prefer "depositary"}
  {:avoid "depreciative", :prefer "depreciatory"}
  {:avoid "deprival", :prefer "deprivation"}
  {:avoid "derogative", :prefer "derogatory"}
  {:avoid "destroyable", :prefer "destructible"}
  {:avoid "disenthrone", :prefer "dethrone"}
  {:avoid "detoxicate", :prefer "detoxify"}
  {:avoid "detractory", :prefer "detractive"}
  {:avoid "digamy", :prefer "deuterogamy"}
  {:avoid "deviancy", :prefer "deviance"}
  {:avoid "deviationist", :prefer "deviant"}
  {:avoid "digitalize", :prefer "digitize"}
  {:avoid "diminishment", :prefer "diminution"}
  {:avoid "diplomatist", :prefer "diplomat"}
  {:avoid "disciplinatory", :prefer "disciplinary"}
  {:avoid "discriminant", :prefer "discriminating"}
  {:avoid "disintegratory", :prefer "disintegrative"}
  {:avoid "dismission", :prefer "dismissal"}
  {:avoid "disorientate", :prefer "disorient"}
  {:avoid "disorientated", :prefer "disoriented"}
  {:avoid "disquieten", :prefer "disquiet"}
  {:avoid "disassociate", :prefer "dissociate"}
  {:avoid "distraite", :prefer "distrait"}
  {:avoid "divergency", :prefer "divergence"}
  {:avoid "dividable", :prefer "divisible"}
  {:avoid "doctrinary", :prefer "doctrinaire"}
  {:avoid "documental", :prefer "documentary"}
  {:avoid "domesticize", :prefer "domesticate"}
  {:avoid "misdoubt", :prefer "doubt"}
  {:avoid "duplicatory", :prefer "duplicative"}
  {:avoid "duteous", :prefer "dutiful"}
  {:avoid "educationalist", :prefer "educationist"}
  {:avoid "educatory", :prefer "educative"}
  {:avoid "impanel", :prefer "empanel"}
  {:avoid "cumbrance", :prefer "encumbrance"}
  {:avoid "indow", :prefer "endow"}
  {:avoid "indue", :prefer "endue"}
  {:avoid "enigmatas", :prefer "enigmas"}
  {:avoid "enlargen", :prefer "enlarge"}
  {:avoid "epical", :prefer "epic"}
  {:avoid "erotism", :prefer "eroticism"}
  {:avoid "ethician", :prefer "ethicist"}
  {:avoid "ex officiis", :prefer "ex officio"}
  {:avoid "exculpative", :prefer "exculpatory"}
  {:avoid "exigence", :prefer "exigency"}
  {:avoid "exigeant", :prefer "exigent"}
  {:avoid "exotism", :prefer "exoticism"}
  {:avoid "expedience", :prefer "expediency"}
  {:avoid "expediential", :prefer "expedient"}
  {:avoid "expediential", :prefer "expedient"}
  {:avoid "extensible", :prefer "extendable"}
  {:avoid "eying", :prefer "eyeing"}
  {:avoid "fiefdom", :prefer "fief"}
  {:avoid "flagrance", :prefer "flagrancy"}
  {:avoid "flatulency", :prefer "flatulence"}
  {:avoid "defraudulent", :prefer "fraudulent"}
  {:avoid "fraudful", :prefer "fraudulent"}
  {:avoid "funebrial", :prefer "funereal"}
  {:avoid "geographical", :prefer "geographic"}
  {:avoid "geometrical", :prefer "geometric"}
  {:avoid "goatherder", :prefer "goatherd"}
  {:avoid "aggrievance", :prefer "grievance"}
  {:avoid "gustatorial", :prefer "gustatory"}
  {:avoid "habitude", :prefer "habit"}
  {:avoid "henceforward", :prefer "henceforth"}
  {:avoid "hesitance", :prefer "hesitancy"}
  {:avoid "heterogenous", :prefer "heterogeneous"}
  {:avoid "hierarchic", :prefer "hierarchical"}
  {:avoid "hindermost", :prefer "hindmost"}
  {:avoid "honorand", :prefer "honoree"}
  {:avoid "hypostasize", :prefer "hypostatize"}
  {:avoid "hysteric", :prefer "hysterical"}
  {:avoid "idolatrize", :prefer "idolize"}
  {:avoid "personation", :prefer "impersonation"}
  {:avoid "imperviable", :prefer "impervious"}
  {:avoid "importunacy", :prefer "importunity"}
  {:avoid "impotency", :prefer "impotence"}
  {:avoid "imprimatura", :prefer "imprimatur"}
  {:avoid "improprietous", :prefer "improper"}
  {:avoid "incitation", :prefer "incitement"}
  {:avoid "inconsistence", :prefer "inconsistency"}
  {:avoid "criminate", :prefer "incriminate"}
  {:avoid "culpatory", :prefer "inculpatory"}
  {:avoid "incurment", :prefer "incurrence"}
  {:avoid "unfrequent", :prefer "infrequent"}
  {:avoid "inhibitive", :prefer "inhibitory"}
  {:avoid "innovational", :prefer "innovative"}
  {:avoid "inquisitional", :prefer "inquisitorial"}
  {:avoid "insistment", :prefer "insistence"}
  {:avoid "instillment", :prefer "instillation"}
  {:avoid "instinctual", :prefer "instinctive"}
  {:avoid "unsubstantial", :prefer "insubstantial"}
  {:avoid "insuror", :prefer "insurer"}
  {:avoid "insurrectional", :prefer "insurrectionary"}
  {:avoid "interpretate", :prefer "interpret"}
  {:avoid "intervenience", :prefer "intervention"}
  {:avoid "ironical", :prefer "ironic"}
  {:avoid "unrevokable", :prefer "irrevocable"}
  {:avoid "judgmatic", :prefer "judgmental"}
  {:avoid "gerry-rigged", :prefer "jury-rigged"}
  {:avoid "jerry-rigged", :prefer "jury-rigged"}
  {:avoid "Coffee klatsch", :prefer "kaffeeklatsch"}
  {:avoid "coffee klatch", :prefer "kaffeeklatsch"}
  {:avoid "nicknack", :prefer "knickknack"}
  {:avoid "labyrinthian", :prefer "labyrinthine"}
  {:avoid "laudative", :prefer "laudatory"}
  {:avoid "legitimatization", :prefer "legitimation"}
  {:avoid "legitimization", :prefer "legitimation"}
  {:avoid "legitimatize", :prefer "legitimize"}
  {:avoid "lengthways", :prefer "lengthwise"}
  {:avoid "liquorice", :prefer "licorice"}
  {:avoid "life-sized", :prefer "life-size"}
  {:avoid "lithesome", :prefer "lithe"}
  {:avoid "loth", :prefer "loath"}
  {:avoid "lollipop", :prefer "lollypop"}
  {:avoid "lubricous", :prefer "lubricious"}
  {:avoid "maihem", :prefer "mayhem"}
  {:avoid "medicinal marijuana", :prefer "medical marijuana"}
  {:avoid "minimalize", :prefer "minimize"}
  {:avoid "monetarize", :prefer "monetize"}
  {:avoid "moveable", :prefer "movable"}
  {:avoid "mirk", :prefer "murk"}
  {:avoid "mirky", :prefer "murky"}
  {:avoid "narcism", :prefer "narcissism"}
  {:avoid "neglective", :prefer "neglectful"}
  {:avoid "negligency", :prefer "negligence"}
  {:avoid "neologizer", :prefer "neologist"}
  {:avoid "neurologic", :prefer "neurological"}
  {:avoid "nictate", :prefer "nictitate"}
  {:avoid "normalcy", :prefer "normality"}
  {:avoid "numbedness", :prefer "numbness"}
  {:avoid "omittable", :prefer "omissible"}
  {:avoid "onomatopoetic", :prefer "onomatopoeic"}
  {:avoid "opinioned", :prefer "opined"}
  {:avoid "optimum advantage", :prefer "optimal advantage"}
  {:avoid "orientate", :prefer "orient"}
  {:avoid "outsized", :prefer "outsize"}
  {:avoid "oversized", :prefer "oversize"}
  {:avoid "overthrowal", :prefer "overthrow"}
  {:avoid "pacificist", :prefer "pacifist"}
  {:avoid "parti-color", :prefer "parti-colored"}
  {:avoid "party-colored", :prefer "parti-colored"}
  {:avoid "participative", :prefer "participatory"}
  {:avoid "copartner", :prefer "partner"}
  {:avoid "copartnership", :prefer "partnership"}
  {:avoid "patine", :prefer "patina"}
  {:avoid "paederast", :prefer "pederast"}
  {:avoid "pediatrist", :prefer "pediatrician"}
  {:avoid "perjorative", :prefer "pejorative"}
  {:avoid "penumbrous", :prefer "penumbral"}
  {:avoid "permissory", :prefer "permissive"}
  {:avoid "permutate", :prefer "permute"}
  {:avoid "pharmaceutic", :prefer "pharmaceutical"}
  {:avoid "pleuritis", :prefer "pleurisy"}
  {:avoid "policy holder", :prefer "policyholder"}
  {:avoid "policyowner", :prefer "policyholder"}
  {:avoid "politicalize", :prefer "politicize"}
  {:avoid "precolumbian", :prefer "pre-Columbian"}
  {:avoid "precedency", :prefer "precedence"}
  {:avoid "preceptoral", :prefer "preceptorial"}
  {:avoid "precipitance", :prefer "precipitancy"}
  {:avoid "precipitant", :prefer "precipitate"}
  {:avoid "preclusory", :prefer "preclusive"}
  {:avoid "prefectoral", :prefer "prefectorial"}
  {:avoid "preponderately", :prefer "preponderantly"}
  {:avoid "preserval", :prefer "preservation"}
  {:avoid "preventative", :prefer "preventive"}
  {:avoid "proconsulship", :prefer "proconsulate"}
  {:avoid "procreational", :prefer "procreative"}
  {:avoid "procurance", :prefer "procurement"}
  {:avoid "propelment", :prefer "propulsion"}
  {:avoid "propulsory", :prefer "propulsive"}
  {:avoid "prosecutive", :prefer "prosecutory"}
  {:avoid "protectory", :prefer "protective"}
  {:avoid "provocatory", :prefer "provocative"}
  {:avoid "pruriency", :prefer "prurience"}
  {:avoid "psychal", :prefer "psychical"}
  {:avoid "punitory", :prefer "punitive"}
  {:avoid "pygmean", :prefer "pygmy"}
  {:avoid "pygmaen", :prefer "pygmy"}
  {:avoid "quantitate", :prefer "quantify"}
  {:avoid "questionary", :prefer "questionnaire"}
  {:avoid "quiescency", :prefer "quiescence"}
  {:avoid "rabbin", :prefer "rabbi"}
  {:avoid "reasonability", :prefer "reasonableness"}
  {:avoid "recidivistic", :prefer "recidivous"}
  {:avoid "recriminative", :prefer "recriminatory"}
  {:avoid "recruital", :prefer "recruitment"}
  {:avoid "recurrency", :prefer "recurrence"}
  {:avoid "recusation", :prefer "recusal"}
  {:avoid "recusement", :prefer "recusal"}
  {:avoid "recusance", :prefer "recusancy"}
  {:avoid "redemptory", :prefer "redemptive"}
  {:avoid "referrable", :prefer "referable"}
  {:avoid "referrible", :prefer "referable"}
  {:avoid "refutatory", :prefer "refutative"}
  {:avoid "remittal", :prefer "remission"}
  {:avoid "remitment", :prefer "remittance"}
  {:avoid "renunciable", :prefer "renounceable"}
  {:avoid "renouncement", :prefer "renunciation"}
  {:avoid "reparatory", :prefer "reparative"}
  {:avoid "repudiative", :prefer "repudiatory"}
  {:avoid "requitement", :prefer "requital"}
  {:avoid "rescindment", :prefer "rescission"}
  {:avoid "restoral", :prefer "restoration"}
  {:avoid "reticency", :prefer "reticence"}
  {:avoid "retributional", :prefer "retributive"}
  {:avoid "retributionary", :prefer "retributive"}
  {:avoid "reviewal", :prefer "review"}
  {:avoid "revisal", :prefer "revision"}
  {:avoid "revisional", :prefer "revisionary"}
  {:avoid "revokable", :prefer "revocable"}
  {:avoid "revokeable", :prefer "revocable"}
  {:avoid "revolute", :prefer "revolt"}
  {:avoid "saliency", :prefer "salience"}
  {:avoid "salutiferous", :prefer "salutary"}
  {:avoid "sensatory", :prefer "sensory"}
  {:avoid "sessionary", :prefer "sessional"}
  {:avoid "shareowner", :prefer "shareholder"}
  {:avoid "sicklily", :prefer "sickly"}
  {:avoid "signator", :prefer "signatory"}
  {:avoid "slanderize", :prefer "slander"}
  {:avoid "societary", :prefer "societal"}
  {:avoid "sodomist", :prefer "sodomite"}
  {:avoid "solicitate", :prefer "solicit"}
  {:avoid "speculatory", :prefer "speculative"}
  {:avoid "spiritous", :prefer "spirituous"}
  {:avoid "statutorial", :prefer "statutory"}
  {:avoid "submergeable", :prefer "submersible"}
  {:avoid "submittal", :prefer "submission"}
  {:avoid "subtile", :prefer "subtle"}
  {:avoid "succuba", :prefer "succubus"}
  {:avoid "sufficience", :prefer "sufficiency"}
  {:avoid "suppliant", :prefer "supplicant"}
  {:avoid "surmisal", :prefer "surmise"}
  {:avoid "suspendible", :prefer "suspendable"}
  {:avoid "enswathe", :prefer "swathe"}
  {:avoid "synthetize", :prefer "synthesize"}
  {:avoid "systemize", :prefer "systematize"}
  {:avoid "tee-shirt", :prefer "T-shirt"}
  {:avoid "tactual", :prefer "tactile"}
  {:avoid "tangental", :prefer "tangential"}
  {:avoid "tautologous", :prefer "tautological"}
  {:avoid "thenceforward", :prefer "thenceforth"}
  {:avoid "transiency", :prefer "transience"}
  {:avoid "transposal", :prefer "transposition"}
  {:avoid "transposal", :prefer "transposition"}
  {:avoid "inalterable", :prefer "unalterable"}
  {:avoid "incommunicative", :prefer "uncommunicative"}
  {:avoid "incontrollable", :prefer "uncontrollable"}
  {:avoid "nonenforceable", :prefer "unenforceable"}
  {:avoid "innavigable", :prefer "unnavigable"}
  {:avoid "unreasonability", :prefer "unreasonableness"}
  {:avoid "insolvable", :prefer "unsolvable"}
  {:avoid "usurpature", :prefer "usurpation"}
  {:avoid "variative", :prefer "variational"}
  {:avoid "vegetive", :prefer "vegetative"}
  {:avoid "vindicative", :prefer "vindictive"}
  {:avoid "vituperous", :prefer "vituperative"}
  {:avoid "vociferant", :prefer "vociferous"}
  {:avoid "volitive", :prefer "volitional"}
  {:avoid "wolvish", :prefer "wolfish"}
  {:avoid "wolverene", :prefer "wolverine"}
  {:avoid "Zoroastrism", :prefer "Zoroastrianism"}]}
