{:message "Pompous diction",
 :name "pompous-diction",
 :kind "recommender",
 :explanation
 "Pompous diction: use simpler words. From Style: Toward Clarity and Grace by Joseph M. Williams.",
 :specimens [],
 :recommendations
 [{:avoid "contingent upon", :prefer "dependent on"}
  {:avoid "endeavor", :prefer "try"}
  {:avoid "utilization", :prefer "use"}
  {:avoid "termination", :prefer "end"}
  {:avoid "is desirous of", :prefer "wants"}
  {:avoid "is cognizant of", :prefer "is aware of"}
  {:avoid "facilitate", :prefer "help"}
  {:avoid "deem", :prefer "think"}
  {:avoid "envisage", :prefer "think, regard, see"}
  {:avoid "advert to", :prefer "mention"}
  {:avoid "apprise", :prefer "inform"}
  {:avoid "eventuate", :prefer "happen"}
  {:avoid "transpire", :prefer "happen"}]}
