{:message "Redundancy"
 :name "redundancies"
 :kind "existence"
 :explanation "Avoid phrases that say the same thing more than once."
 :specimens
 ["adequate enough"
  "self-admitted"
  "sworn affidavit"
  "mutual agreement"
  "former alumnus"
  "directly antithetical"
  "approximately about"
  "associate together(?: in groups)?"
  "temporary bivouac"
  "bivouac camp"
  "blend together"
  "but nevertheless"
  "accused of a charge"
  "circumstances surrounding"
  "surrounding circumstances"
  "close proximity"
  "collaborate together"
  "fellow collaborator"
  "fellow collaborators"
  "collocated together"
  "fellow colleagues"
  "combine together"
  "self-complacent"
  "self-confessed"
  "connect together"
  "(?:general )?consensus of opinion"
  "consolidate together"
  "still continues to"
  "mutually contradictory"
  "mutual cooperation"
  "couple together"
  "serious crisis"
  "entirely eliminate"
  "most especially"
  "actual fact"
  "true facts"
  "future forecast"
  "founding forefathers"
  "free and gratis"
  "free gratis"
  "completely full"
  "basic fundamentals"
  "free gift"
  "new innovation"
  "interact with each other"
  "large-size"
  "meld together"
  "merge together"
  "mingle together"
  "mix together"
  "mutual feelings for eachother"
  "mutual respect for each other"
  "native-born citizen"
  "absolute necessity"
  "blatantly obvious"
  "pause for a moment"
  "advance planning"
  "future plans"
  "pooled together"
  "potable drinking water"
  "potable drinking water"
  "new recruit"
  "reelected for another term"
  "refer back"
  "regress back"
  "repay them back"
  "repay back"
  "repeat again"
  "repeat back"
  "repeat the same"
  "repeated the same"
  "temporary reprieve"
  "brief respite"
  "retiral"
  "retiracy"
  "retreat back"
  "return back"
  "closely scrutinize"
  "software program"
  "surrounded on all sides"
  "the whole entire nation"
  "throughout the entire"
  "timpani drum"
  "pair of twins"
  "unfilled vacancy"
  "various different"
  "former veteran"
  "visible to the eye"
  "professional vocation"
  "while at the same time"]}
