{:message "Skunked term: consider rephrasing"
 :name "skunked-terms"
 :kind "existence"
 :explanation "Words with controversial correct usage that are best avoided."
 :specimens
 ["bona fides"
  "deceptively"
  "decimate"
  "effete"
  "fulsome"
  "hopefully"
  "impassionate"
  "thankfully,"
  "irregardless"
  "inflammable"
  "bimonthly"
  "biweekly"
  "nonplussed"]}
